<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Michael's Profile</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="pure-menu pure-menu-horizontal bg-slate-200 py-5 px-1">
        <div class="grid grid-cols-2">
            <div>
                <a href="/" class="text-black font-black">Computation Converters</a>
            </div>
        </div>
        <ul class="menu-list grid grid-cols-2 md:flex justify-between text-sm">
            <li>
                <a href="/distance_converter" class="pure-menu-heading pure-menu-link">Distance Converter</a>
            </li>
            <li>
                <a href="/DoubleSquare_and_HalfANumber" class="pure-menu-link">Double A Number, and Square A Number, and Half A Number</a>
            </li>
            <li>
                <a href="/PintConverter" class="pure-menu-link">Pint to Gills, Quarts, and Gallons</a>
            </li>
            <li>
                <a href="/PoundsToGrams" class="pure-menu-link">Pound To Grams</a>
            </li>
        </ul>
    </div>
    
    {% block body %}{% endblock %}
</body>
</html>