{% extends 'base.html' %}

<!-- HEAD -->
{% block head %}
    <title>Pint Converter</title>
{% endblock %}
<!-- BODY -->
{% block body %}
    <div>
       <h1>Convert a Pint into a Gill, Quart or a Gallon</h1>
       <form action="/PoundsToGrams" method="POST">
           <label for="user_input_pint">Number of Pounds</label>
           <input type="number" name="user_input_pounds" id="user_input_pint" value='0' min="0" placeholder="input value amount">

            <input type="submit" value="submit">
       </form>
       <p>Amount of Pounds you inputted: {{ request.form.get("user_input_pounds") }}</p>
       <p>Converted Pounds to Grams: {{ converted_output }}</p>

    </div>
{% endblock %}